#f41f59
  %a{:href => "http://formcrafts.com/a/9730"} CareerPath Onboarding

:javascript
  var _fo=_fo||[];_fo.push({'d':'center','c':'f41f59','i':9730});if(typeof fce=='undefined'){var s=document.createElement('script');s.type='text/javascript';s.async=true;s.src=('https:'==document.location.protocol?'https://':'http://')+'formcrafts.com/js/fc.js';var fi=document.getElementsByTagName('script')[0];fi.parentNode.insertBefore(s,fi);fce=1;}
